.runbutton{
    background: linear-gradient(to right,   #ffe149 0%,   #ff742a 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cyclebutton{
    background: linear-gradient(to right,   #ff801f 0%,   #ff2e1f   100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.yogabutton{
    background: linear-gradient(to right,   #ffde21 0%,   #a9ff1f   100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.workoutbutton{
    background: linear-gradient(to right,   #21ff2c 0%,   #1fffce   100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.studybutton{
    background: linear-gradient(to right,   #405dff 0%,   #ae4cff   100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.projectbutton{
    background: linear-gradient(to right,   #1d5dbd 0%,   #2aa3ff   100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.maintenancebutton{
    background: linear-gradient(to right,   #63ff40 0%,   #248a28   100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


.hydrationbutton{
    background: linear-gradient(to right,   #40b9ff 0%,   #0c416c   100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.eatingbutton{
    background: linear-gradient(to right,   #ff5050 0%,   #810f1c   100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.givingbutton{
    background: linear-gradient(to right,   #ffa4e5 0%,   #ff45b8   100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.knowledgebutton{
    background: linear-gradient(to right,   #ff535e 0%,   #94002a   100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
